

body{
    font-family: Comic Sans MS, Comic Sans, cursive;
}
button{
    background-color: white;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
    box-shadow: 2px 1px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}
header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 30px 5%;
    
    .headingText{
        
 
        font-weight: bold;
        font-size: 40px;
    }
    .navBar {

        list-style-type: none;
        li {

           display: inline-block;
            margin: 10px;
        }
        a {
            color: black;
            text-decoration:none
        }
        
    }
   
}
hr {  
    margin-top: -70px;
    margin-left: 50px;
    margin-right: 50px;
    border-bottom: 1px solid;
}

.Product-input {
    
    margin-top: 50px;
    margin-left: 50px;

    label {
        margin-top: 20px;
        display: inline-block;
        width: 90px;
        text-align: left;
      }
    input {
        border:2px solid rgb(27, 27, 27);
        border-radius: 3px;
    }
    select{
        border:2px solid rgb(27, 27, 27);
        border-radius: 3px;
    }
    
   .field{
       display:none;
   }
}


.Product-container{
    display: inline-block;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
    
    
    font-size: 18px;
    .productRow{
        ul{
            list-style-type: none;
            display: inline-block;
            margin: 21px;
            border:3px solid #272727;
            border-radius: 5px;
            align-items: center;
            padding: 10px 10px 1px;
            height: 200px;
            width: 250px;
        }
        li {
            margin-top: 20px;
            text-align: center;
            overflow: hidden;
        }
    }
    
    .productRow2{
        ul{
            list-style-type: none;
            display: inline-block;
            margin: 21px;
            border:3px solid #272727;
            align-items: center;
            padding: 10px 10px 1px;
            height: 200px;
            width: 250px;
        }
        li {
            margin-top: 20px;
            text-align: center;
            overflow: hidden;
        }
    }
    
    .productRow3{
        ul{
            list-style-type: none;
            display: inline-block;
            margin: 21px;
            border:3px solid #272727;
            align-items: center;
            padding: 10px 10px 1px;
            height: 200px;
            width: 250px;
        }
        li {
            margin-top: 20px;
            text-align: center;
            overflow: hidden;
        }
    }
}
p{
    font-size: 15px;
}
.bottom {
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    border-bottom: 1px solid;  
}
.bottomText {
    text-align: center;
    margin-bottom: 40px;
}